In [1]:
import pandas as pd

In [2]:
import pandas as pd
import os
from sklearn.preprocessing import LabelBinarizer, OneHotEncoder
from starter.ml.data import process_data
from starter.ml.model import inference
from starter.ml.model import compute_model_metrics
import logging

In [3]:
test_path = os.getcwd() + '/data/census_test.csv'
test = pd.read_csv(test_path)

In [6]:
test.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,20,Private,219835,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,30,?,<=50K
1,65,Private,153522,HS-grad,9,Widowed,Other-service,Unmarried,White,Female,0,0,17,United-States,<=50K
2,47,Self-emp-not-inc,192755,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,20,United-States,>50K
3,19,Private,226913,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,20,United-States,<=50K
4,28,Private,181659,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K

In [11]:
d = test.iloc[1,:].to_dict()

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6513 entries, 0 to 6512
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             6513 non-null   int64
 1   workclass       6513 non-null   object
 2   fnlgt           6513 non-null   int64
 3   education       6513 non-null   object
 4   education-num   6513 non-null   int64
 5   marital-status  6513 non-null   object
 6   occupation      6513 non-null   object
 7   relationship    6513 non-null   object
 8   race            6513 non-null   object
 9   sex             6513 non-null   object
 10  capital-gain    6513 non-null   int64
 11  capital-loss    6513 non-null   int64
 12  hours-per-week  6513 non-null   int64
 13  native-country  6513 non-null   object
 14  salary          6513 non-null   object
dtypes: int64(6), object(9)
memory usage: 763.4+ KB

In [15]:
test.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [10]:
json.dumps(d)

'{"age": 65, "workclass": "Private", "fnlgt": 153522, "education": "HS-grad", "education-num": 9, "marital-status": "Widowed", "occupation": "Other-service", "relationship": "Unmarried", "race": "White", "sex": "Female", "capital-gain": 0, "capital-loss": 0, "hours-per-week": 17, "native-country": "United-States", "salary": "<=50K"}'